---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "minima";

// Google Fonts
.cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cinzel-decorative-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
  }
// End Google Fonts

$text-color:       #111 !default;
$background-color: #5582ec !default;
$brand-color:      #e2d32a !default;

$grey-color:       #828282 !default;
//color.scale($color, $lightness: 81.6%)
//color.adjust($color, $lightness: 40%)
$grey-color-light: color.adjust($grey-color, $lightness: 40%) !default;
$grey-color-dark:  color.adjust($grey-color, $lightness: -25%) !default;
